<html>
<head>
<title>TEST </title>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src= "/javascripts/webservice.js"> </script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="Ctrl">
  <p>{{name}} </p>
  <p>{{age}} </p>
  <p>{{fname}} </p>

<input type="number" name="asd" ng-model="fname">

<ul>
 <li ng-repeat="i in getNumber(fname,no2) track by $index"><span> {{$index}} <input type="text" ng-model="form$index">  </span></li>
</ul>

<script>

var app=angular.module('myApp',[]);
app.controller('Ctrl', function($scope, $http, $window){

$scope.name = "Hello World";
$scope.age = 45;
$scope.no2;
$scope.newno = parseInt($scope.no2);
$scope.getNumber = function(req, res) {
    res = new Array(req);
    return res;
}


});

</script>
</body>

</html>
